<footer id = "grad2">

  <div id = "footer">
  <div id = "about">
    <h3> More About This App </h3>
    <p> Top pop is an Artist datatbase that gives marketers all the current information they need on artist and their potential marketablility.</p>
  </div>
  <div id = "contact">
    <h3> Contact </h3>
    <p> Email : aumenyiora@gmail.com </p>
    <p> Number : 567-554-0986 </p>
  </div>
  <small>&copy; Copyright 2018, Ari Umenyiora</small>
</div>


</footer>
