<!DOCTYPE html>
<html>
<head>
<% include partials/styles.ejs %>
<style>
#grad:hover {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,102,1) , rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-45deg, rgba(255,255,102,1) , rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-45deg, rgba(255,255,102,1) , rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-45deg, rgba(255,255,102,1) , rgba(255,0,0,1)); /* Standard syntax */
}
</style>

<script>
var count = 0;
function counter()
{
  this.innerHTML = count +1;
}
</script>
<script type="text/javascript" >

    function search()
    {
      var input, value;
      input = document.getElementById('myInput2');
      value = input.value;
      console.log(value);
      searching(value, function (){ console.log("called back") });
      location.href = "https://www.google.com/";
    }

</script>
<script type="text/javascript">
    function loadProfile(elmnt) {
        location.href = "/profile/"+ encodeURI(elmnt.childNodes[2].innerHTML);
    }
</script>


</head>
<% include partials/nav.ejs %>
<body>

  <h1 id = "grad2"> RANK </h1>
  <div>
  <ul id ="rank" >
    <% var count= 1; %>
  <% data.forEach(function(item){ %>
    <li id = "grad" onclick="loadProfile(this)"> <img src= <%= item.picUrl %> alt="Smiley face" height="100" width="100" ><strong id = "artist-name"> <%= item.name %> </strong> <strong id = "index"> <%= count %>  </strong> </li>
    <% count = count + 1; %>
  <% }); %>
</ul>
</div>

</body>
<% include partials/footer.ejs %>
<script>
document.getElementById("myInput2")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
      console.log("enter pressed");
      var input, value;
      input = document.getElementById('myInput2');
      value = input.value;
      location.href = "/search/"+value;
    }
});
</script>
</html>
