<!DOCTYPE html>
<html>
<head>
<% include partials/styles.ejs %>


<script>
var count = 0;
function counter()
{
  this.innerHTML = count +1;
}
</script>

<script type="text/javascript">
function loadProfile(elmnt) {
    location.href = "/profile/"+ encodeURI(elmnt.childNodes[2].innerHTML);
}
</script>


</head>
<% include partials/nav.ejs %>
<body>

  <h1 id = "grad2"> SEARCH </h1>
  <div>
  <ul id ="rank" >
    <% var count= 1; %>
  <% sArray.forEach(function(item){ %>
    <li id = "grad" onclick="loadProfile(this)"> <img src= <%= item.picture_url %> alt="Smiley face" height="100" width="100" ><strong id = "artist-name"> <%= item.artist_name %> </strong> </li>
  <% }); %>
</ul>
</div>

</body>
<script>
document.getElementById("myInput2")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
      console.log("enter pressed");
      var input, value;
      input = document.getElementById('myInput2');
      value = input.value;
      location.href = "/search/"+value;
    }
});
</script>
</html>
